@tailwind base;
@tailwind components;
@tailwind utilities;

.shape {
  width: 100%;
  height: 350px;
  background-color: #d9d9d9;
  clip-path: polygon(0 100%, 0 0, 100% 0, 100% 64.541%, 0 100%);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.fade-in-down {
  animation: fadeInDown 0.3s forwards;
}

.fade-out-up {
  animation: fadeOutUp 0.3s forwards;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.fade-in-right {
  animation: fadeInRight 0.3s forwards;
}

.fade-out-left {
  animation: fadeOutLeft 0.5s forwards;
}
